Import the required packages with their customary aliases

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

Use pandas to read csv file and set as dataframe gdp_df

In [32]:
gdp_df = pd.read_csv('gdp_percapita.csv')

Print first 6 rows

In [5]:
print(gdp_df.head(6))

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2019  2065.036398              NaN
1     Afghanistan  2018  2033.779002              NaN
2     Afghanistan  2017  2058.383832              NaN
3     Afghanistan  2016  2057.062164              NaN
4     Afghanistan  2015  2068.265904              NaN
5     Afghanistan  2014  2102.385234              NaN

Repeat for the internet use dataset

In [24]:
internet_df = pd.read_csv('internet_use.csv', error_bad_lines=False)
print(internet_df.head(6))

  Country or Area  Year     Value  Value Footnotes
0     Afghanistan  2014  6.390000              NaN
1     Afghanistan  2013  5.900000              NaN
2     Afghanistan  2012  5.454545              NaN
3     Afghanistan  2011  5.000000              NaN
4     Afghanistan  2010  4.000000              NaN
5     Afghanistan  2009  3.550000              NaN

b'Skipping line 4675: expected 4 fields, saw 6\n'

Look at the shape of each DataFrame - how many rows? How many columns?

In [25]:
row_count, column_count = gdp_df.shape

print("Number of rows gdp ", row_count)
print("Number of columns gdp", column_count)

row_count, column_count = internet_df.shape

print("Number of rows internet", row_count)
print("Number of columns internet", column_count)

Number of rows gdp  6870
Number of columns gdp 4
Number of rows internet 4675
Number of columns internet 4

Take a look at the datatypes for the columns in each DataFrame.

In [26]:
gdp_df.info()

internet_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6870 entries, 0 to 6869
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country or Area  6870 non-null   object
 1   Year             6870 non-null   object
 2   Value            6868 non-null   float64
 3   Value Footnotes  1 non-null      float64
dtypes: float64(2), object(2)
memory usage: 214.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4675 entries, 0 to 4674
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country or Area  4675 non-null   object
 1   Year             4675 non-null   object
 2   Value            4495 non-null   float64
 3   Value Footnotes  948 non-null    float64
dtypes: float64(2), object(2)
memory usage: 146.2+ KB

Take a look at the last 10 rows of each DataFrame in turn.

In [27]:
print(gdp_df.tail(10))

     Country or Area                                      Year        Value  \
6860        Zimbabwe                                      1997  3580.048793
6861        Zimbabwe                                      1996  3520.430146
6862        Zimbabwe                                      1995  3226.413930
6863        Zimbabwe                                      1994  3263.934978
6864        Zimbabwe                                      1993  3033.504852
6865        Zimbabwe                                      1992  3054.889178
6866        Zimbabwe                                      1991  3426.598094
6867        Zimbabwe                                      1990  3324.348171
6868   footnoteSeqID                                  Footnote          NaN
6869               2  Excludes South Sudan after July 9, 2011.          NaN

      Value Footnotes
6860              NaN
6861              NaN
6862              NaN
6863              NaN
6864              NaN
6865              NaN
6866              NaN
6867              NaN
6868              NaN
6869              NaN

In [28]:
print(internet_df.tail(10))

     Country or Area                                               Year  \
4665             170                   Refers to the total population.
4666             171                        Internet Dial-up customers.
4667             172  Population age 16+ using the Internet in the l...
4668             173  Population age 16+ using internet in the last ...
4669             174  U.S. Census Bureau, Table 2. Reported Internet...
4670             175             Includes individuals 3 years and older
4671             176                                   NTIA/CPS survey.
4672             178  Estimated based on Survey's results. Populatio...
4673             179                     Preliminary. Country estimate.
4674             180  The methodology used to estimated the figure f...

      Value  Value Footnotes
4665    NaN              NaN
4666    NaN              NaN
4667    NaN              NaN
4668    NaN              NaN
4669    NaN              NaN
4670    NaN              NaN
4671    NaN              NaN
4672    NaN              NaN
4673    NaN              NaN
4674    NaN              NaN

Drop the value footnotes column from both DataFrames. Check that this worked as expected.

In [36]:
del gdp_df['Value Footnotes']
gdp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6870 entries, 0 to 6869
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country or Area  6870 non-null   object
 1   Year             6870 non-null   object
 2   Value            6868 non-null   float64
dtypes: float64(1), object(2)
memory usage: 161.1+ KB

In [37]:
del internet_df['Value Footnotes']
internet_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4675 entries, 0 to 4674
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country or Area  4675 non-null   object
 1   Year             4675 non-null   object
 2   Value            4495 non-null   float64
dtypes: float64(1), object(2)
memory usage: 109.7+ KB

Change the columns for the GDP Per Capita DataFrame to ‘Country’, ‘Year’, and ‘GDP_Per_Capita’.

In [48]:
gdp_df.rename(columns={'Country of Area': 'Country', 'Value': 'GDP_Per_Capita'}, inplace=True)
gdp_df.rename(columns={'Country or Area': 'Country'}, inplace=True)
gdp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6870 entries, 0 to 6869
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country         6870 non-null   object
 1   Year            6870 non-null   object
 2   GDP_Per_Capita  6868 non-null   float64
dtypes: float64(1), object(2)
memory usage: 161.1+ KB

Change the columns for the Internet Users DataFrame to ‘Country’, ‘Year’, and ‘Internet_Users_Pct’.

In [49]:
internet_df.rename(columns={'Country of Area': 'Country', 'Value': 'GDP_Per_Capita'}, inplace=True)
internet_df.rename(columns={'Country of Area': 'Country', 'GDP_Per_Capita': 'Internet_Users_Pct'}, inplace=True)
internet_df.rename(columns={'Country or Area': 'Country'}, inplace=True)
internet_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4675 entries, 0 to 4674
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             4675 non-null   object
 1   Year                4675 non-null   object
 2   Internet_Users_Pct  4495 non-null   float64
dtypes: float64(1), object(2)
memory usage: 109.7+ KB

Merge the two DataFrames to one. Merge all rows from each of the two DataFrames. Call the new DataFrame gdp_and_internet_use. Look at the last five rows to make sure the data is clean and as expected.

In [65]:
gdp_and_internet_use = pd.merge(gdp_df, internet_df, how = 'inner')
print(gdp_and_internet_use.tail(5))

            Country      Year  GDP_Per_Capita  Internet_Users_Pct
3454       Zimbabwe      1996     3520.430146            0.016790
3455       Zimbabwe      1995     3226.413930            0.007684
3456       Zimbabwe      1994     3263.934978            0.001739
3457       Zimbabwe      1990     3324.348171            0.000000
3458  footnoteSeqID  Footnote             NaN                 NaN

Subset the combined DataFrame to keep only the data for 2004, 2009, and 2014. Check that this happened correctly.